.mat-card {
    margin: 0 3%;
    padding: 50px;
    .mat-card-title {
        padding-bottom: 20px;
    }
    .mat-card-content {
        padding: 20px;
        margin-bottom: 35px;
    }
    .mat-form-field {
        width: 50%;
        display: block;
        margin-bottom: 20px;
    }
    .mat-button-base {
        display: block;
        margin: 0 auto;
    }
}